---
layout: page
permalink: /tags/index
title: タグ一覧
---
<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
      <h3 class="category-head"><a name="{{ tag_name }}" class="tags">{{ tag_name | capitalize }}</a></h3>

    <div class="post-articles pure-g">
      {% for post in site.tags[tag_name] %}
      <div class="post-wrap pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3">
        <article class="post-preview">
          <div class="post-img">
            {% if post.img %}
              <img src="{{ post.img }}" class="post-image" alt="{{ post.title }}" />
            {% else %}
              <div class="post-no-image">{{ post.title }}</div>
            {% endif %}
          </div>

          <div class="post-content">
            <p class="post-meta">{{ post.published_at | date: '%Y-%m-%d' }}</p>
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"class="category-link">
              <h2 class="post-title">{{ post.title }}</h2>
            </a>
            <p class="post-meta">
              {% if post.author[0] == nil %}
                @{{ post.author }}
              {% else %}
                {% for author in post.author %}
                  @{{ author }}
                {% endfor %}
              {% endif %}
            </p>
            <p>
              Categories :
              {% for category in post.categories %}
                <a href="{{ site.baseurl }}/categories/index#{{ category | slugify }}"class="categories">{{ category | capitalize }}</a>
              {% endfor %}
            </p>
            <p>
              {% for tag in post.tags %}
                <a href="{{ site.baseurl }}/tags/index#{{ tag | slugify }}"class="tags">{{ tag | capitalize }}</a>
              {% endfor %}
            </p>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
</div>

