<aside id="aside">
  <div>
    <div class="aside-home">
      <a href="{{ site.url }}" class="aside-link">:house: Home</a>
    </div>
    <div class="aside-recent">
      <p class="aside-content-title">:pencil: 最近の投稿</p>
      {% for post in site.posts limit:15 %}
      <div class="aside-recent-item">
        <p class="post-meta">{{ post.published_at | date: '%Y-%m-%d' }}</p>
        <a href="{{ post.url }}" class="aside-link">{{ post.title }}</a>
      </div>
      {% endfor %}
    </div>
    <div class="aside-categories">
      <p class="aside-content-title">:pencil: カテゴリ一覧</p>
      {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div class="aside-categories-item">
          :carrot:&nbsp;
          <a href="{{site.baseurl}}/categories/index#{{category_name}}" class="categories">
            {{ category_name | capitalize }}
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="aside-tags">
      <p class="aside-content-title">:pencil: タグ一覧</p>
      {% for tag in site.tags%}
        {% capture tag_name %}{{ tag | first }}{% endcapture %}
        <a href="{{site.baseurl}}/tags/index#{{ tag_name}}" class="tags">{{ tag_name | capitalize }}</a>
      {% endfor %}
    </div>
  </div>
</aside>
