body {
  font-family: 'TitilliumText22LRegular', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 16px;
  margin: 0px;
}

.categories{
  border-radius: 10px;
  text-decoration: none;
  color: black;
  padding: 3px;
}
.categories:hover{
  background-color: #006400;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 3px;
}

.tags {
  background-color: #ffa500;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  padding: 3px;
  display: inline-block;
  margin-bottom: 5px;
}
/* --- START header.html ---*/
#header-container {
  flex-grow: 0;
  text-align: center;
}
#blog-title {
  padding: 10px 0;
  height: 120px;
  color: black;
}

#title {
  padding: 13px 0px;
}
/* --- END header.html ---*/

/* --- START aside.html ---*/
#aside {
  padding: 30px 0px 0px 20px;
  width: 300px;
  float: right;
  font-size: 16px;
  text-align: left;
  word-wrap: break-word;
  flex-grow: 0;
  border-radius: 5px;
}
#aside-inner {
}
.aside-content-title{
  margin: 15px 0px 10px 0px;
  border-bottom: solid 1px black;
}
.aside-recent {
  font-size: 18px;
  font-weight: 700;
}

.aside-recent-item {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: solid 1px #a9a9a9;
}
.aside-categories {
  font-size: 18px;
  font-weight: 700;
}
.aside-categories-item {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
}
.aside-tags {
  font-size: 18px;
  font-weight: 700;
}
.aside-tags-item-container {
/*  display: flex; */
}
.aside-tags-item {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
}
.aside-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.aside-link:hover {
  color: darkviolet;
}
/* --- END aside.html ---*/

/* --- START footer.html ---*/
#footer-container {
  text-align: center;
  flex-grow: 0;
  color: black;
  background: #d0d6d3;
  padding: 10px 0;
  margin: 20px 0 0 0;
}
#wrapper {
  float: left;
  overflow: hidden;
  width: 100%;
}
#footer-container p {
  font-weight: bold;
  padding: 0;
}
/* --- END footer.html ---*/

/* --- START share.html ---*/
/* --- END share.html ---*/

/* --- START post.html/home.html ---*/
#container {
  text-align: center;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

#main {
  margin: 5px 0px 0px 0px;
  flex-grow: 3;
  display: flex;
  flex-direction: row;
}

#entry-container {
  width: 100%;
}
/* --- END post.html/home.html ---*/
/* --- START home.html ---*/
.post-newest-preview {
  text-align: left;
  padding: 0;
  border: solid 1px;
  border-radius: 5px;
  margin: 5px 5px 2px 2px;
  height: 300px;
  display: table;
  width: 100%;
}
.post-newest-img{
  margin: 0;
  height: 300px;
  width: 40%;
  background: linear-gradient(-135deg, rgba(63,24,126,0.3), rgba(247,129,191,0.3));
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}
.post-newest-content {
  height: 300px;
  padding: 5px 10px;
  display: table-cell;
}
.post-newest-title {
  margin: 5px 10px;
}

.post-no-image{
  text-align: center;
  width: 100%;
}
.post-articles{
  width: 100%;
}
.post-preview{
  text-align: left;
  padding: 0;
  border: solid 1px;
  border-radius: 5px;
  margin: 5px 5px 2px 2px;
  width: 340px;
  height: 480px;
  float: left;
}
.post-img{
  margin: 0;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(-135deg, rgba(63,24,126,0.3), rgba(247,129,191,0.3));
}
.post-image{
  text-align: center;
  /*width: 100%;*/
  padding: 0 5px;

  /* FIXME: 画像が枠からはみ出すのを防ぐ対応(応急処置) */
  /* 枠に収まるように調整したい */
  max-width: 100%;
  max-height: 100%;
}
.post-meta {
  color: #808080;
  margin: 1px 0px;
}
.post-title {
  margin: 5px 10px;
  font-size: 20px;
}
.post-content {
  height: 300px;
  padding: 5px 10px;
  display: inline-block;
  width: 100%;
}
.home-title-link{
  text-decoration: none;
  color: black;
}
.home-link {
  text-decoration: none;
  color: black;
}
.home-link:hover {
  color: darkviolet;
}
/* --- END home.html ---*/
/* --- START post.html ---*/
#entry {
  text-align: left;
  height: 100%;
  margin: 0 auto;
  padding: 0px 30px;
}
.entry-date {
  padding-top: 30px;
  font-weight: 600;
  font-size: 18px;
}
.entry-title {
  margin: 0px;
} 
.entry-inner {
}
.inner-content {
}
.inner-share {
}

.author {
}
.post-link {
  text-decoration: none;
}
/* --- END post.html ---*/
/* --- START category.html ---*/
.archive-group{
  text-align: left;
  width: 100%;
  display: inline-block;
}

.category-head{
  margin: 10px 5px;
}
.category-link {
  text-decoration: none;
  color: black;
}
.category-link:hover {
  color: darkviolet;
}  
/* --- END category.html ---*/
/* --- START tag.html ---*/
.tag-link {
  text-decoration: none;
  color: black;
}
.tag-link:hover {
  color: darkviolet;
}
/* --- END tag.html ---*/
